body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
   background-color: antiquewhite;
}

.navbar-color{
    background: black;
    font-size: 1.35rem;
}


.nav-link{
    color: white;
    transition: background-color .75s;
}

.nav-link:hover{
    color: antiquewhite;
    transition: background-color .75s;
}

.color{
    color: white;
    background-color: black;
    transition: background-color .75s;
    border-radius: 3rem;
    
}


.color:hover{
    color: black;
    background-color: white;
    transition: background-color .75s;
}

.color:focus{
    outline: none;
    box-shadow: none;
}