body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
  
}


.navbar-color{
    background: black;
    font-size: 1.35rem;
}


.nav-link{
    color: white;
}

.nav-link:hover{
    color: antiquewhite;
    transition: background-color .75s;
}

.candy{
    position: relative;
    height: 100vh;
    overflow: hidden;

}

.candy__video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.candy__overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .25);
    
   
}

.content{
    color: white;
    font-size: 1.1rem;
}

.click{
    color: white;
    background-color: black;
    transition: background-color .75s;
    border-radius: 2rem;
    
}



.click:hover{
    color: black;
    background-color: white;
    transition: background-color .75s;
}


.click:focus{
    outline: none;
    box-shadow: none;
}