body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    background-color: antiquewhite;
}


.navbar-color{
    background: black;
    font-size: 1.35rem;
}


.nav-link{
    color: white;
}

.nav-link:hover{
    color: antiquewhite;
    transition: background-color .75s;
}

.fontzy{
    font-size: 1.1rem;
}




.color{
    color: white;
    background-color: black;
    transition: background-color .75s;
    border-radius: 1rem;
    
}

.color:hover{
    color: black;
    background-color: antiquewhite;
    transition: background-color .75s;
}

.color:focus{
    outline: none;
    box-shadow: none;
}